.login {
  width: 95%;
  margin: auto;
  text-align: center;
  @include desktop {
    width: 1150px;
  }

  // * ===============================================
  // * IMAGEN PRINCIPAL
  // * ===============================================
  .imgTop {
    background-image: url('../img/bebeLeyendo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 830px;
    position: relative;
    @include tablet {
      background-position-y: 40%;
    }
    @include desktop {
      margin: auto;
      background-size: cover;
      background-position: 0px -60px;
    }
    .login_alinear {
      @include tablet {
        margin-left: 400px;
      }
      @include desktop {
        margin-left: 600px;
      }

      h1 {
        padding-top: 100px;
        width: 200px;
        margin: auto;
        @include titleBlue();
        font-weight: bold;
        @include tablet {
          width: auto;
        }
      }
      p {
        margin-top: 50px;
      }
      .btnCuenta {
        a {
          display: block;
          text-decoration: none;
          text-align: center;
          background: $blue;
          margin: auto;
          width: 240px;
          color: $white;
          font-weight: bold;
          border-radius: 5px;
          padding: 3px;
          position: absolute;
          left: 59px;
          margin-top: 30px;
          &:hover {
            background: darken($blue, 8%);
          }
          @include tablet {
            left: 510px;
          }
          @include desktop {
            left: 755px;
          }
        }
      }
      .orange {
        a {
          background: $orange;
          &:hover {
            background: darken($orange, 8%);
          }
        }
      }
      .login_line {
        width: 240px;
        height: 2px;
        background: $gray;
        margin: auto;
        margin-top: 95px;
      }

      .form-group {
        margin: auto;
        width: 240px;
        .form-control {
          margin-top: 20px;
        }
      }
    }
  }
}
