// * ===============================================
// * Responsive
// * ===============================================
$md: 768px;
$xl: 1024px;

// * ===============================================
// * Fuentes
// * ===============================================
$text: 'Lato', sans-serif;
$title: 'Poppins', sans-serif;

// * ===============================================
// * Colors
// * ===============================================
$blue: #00a2dc;
$lightBlue: #90cfed;
$lightBlueTwo: #d8ecf9;
$backBlue: #006386;
$orange: #f9b043;
$lightOrange: #ffeed8;
$white: #ffffff;
$black: #000000;
$green: #16b622;
$gray: #6f6f6e;
$yellow: #e0e40b;
$morado: #6824eb;
