.logo {
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  width: 95%;
  margin: auto;
  @include desktop {
    text-align: left;
    width: 1150px;
  }
  img {
    height: 50px;
    @include desktop {
      height: 100px;
    }
  }
}
