<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>politicas</title>
</head>

<body>
<div align="center"><img src="images/politicas.jpg" alt="Politicas" width="1032" height="2528" border="0" usemap="#Map" longdesc="Mundial" />
<map name="Map" id="Map"><area shape="rect" coords="304,2227,721,2378" href="http://www.becasmb.com/evenMundi14/index.php" target="_blank" />
</map></div>
</body>
</html>
